/* Change the outline of the box when focused */
.Mui-focused .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: white; 
}

/* Change the outline of the box when unfocused */
.MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
  border-color: white; 
}

/* Change the color of the text */
.MuiOutlinedInput-input {
  color: white
}

/* Optional: Change the label color */
.MuiInputLabel-root {
  color: white
}

/* Optional: Change the label color when focused */
.Mui-focused .MuiInputLabel-root {
  color: white
}

.group-autocomplete-filter-modal{
  min-width: 300px;
}