.player-stats-list-item {
  display: flex;
  justify-content: space-between;
  padding: 8px 16px;
  border-bottom: 1px solid #444;
  color: white;
}

.player-stats-list-item:hover {
  background-color: #333;
}

.player-stats-list-text {
  color: white;
}